@import url(https://fonts.googleapis.com/css?family=EB+Garamond:200,300,400,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

* {
	border: 0;
	padding: 0;
	margin: 0;
}

#navbar {
	overflow: hidden;
	background: #ddd;
	opacity: 0.9;
	filter: alpha(opacity=50);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 45px;
}

#navbar a {
	float: left;
	display: inline-block;
	color: black;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-family: "Source Code Pro", serif;
	font-size: 20px;
	letter-spacing: 4px;
}

#navbar a:hover {
	color: white;
	transition: all 0.3s ease-out;
	background: #eb6e80;
}
#navbar li {
	float: left;
	display: inline-block;
}
#CreditsTitle {
	background-image: url(CreditsMain.jpg);
	background-size: cover; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Source Code Pro";
	font-weight: 200;
	width: 100%;
	height: 100vh;
}
#CreditsTitle h2 {
	font-size: 60px;
	font-weight: 200;
	color: white;
	background: none;
	padding: 8px 24px;
	border-radius: 16px;
}
p {
	font-size: 20px;
	color: white;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
}
hr {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 5px;
	background-color: black;
}

#CreditsMain {
	background-color: white;
	background-size: cover; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Source Code Pro";
	font-weight: 200;
	width: 100%;
	height: 270vh;
}

#CreditsMain p, h2 {
	color: black;
}
#CreditsMain h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 200;
	font-family: "Source Code Pro";
	color: black;
	background: none;
	padding: 8px 24px;
	border-radius: 16px;
}
#CreditsMain p {
	text-align: left;
}